@model KendoUI.Models.ProductViewModel
@using KendoUI.Views.App_LocalResources;

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ProductViewModel</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name, new { title = ViewModelResource.Name_Description })
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, new { placeholder = ViewModelResource.Name_Prompt, title = ViewModelResource.Name_Description })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Category)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Category, "String", new { placeholder = ViewModelResource.Category_Prompt, title = ViewModelResource.Category_Description })
            @Html.ValidationMessageFor(model => model.Category)
        </div>
    </fieldset>
}
